*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
html {
    font-size: 62.5%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5, .c6 {
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.c1 {
    background-color: aqua;
}
.c2 {
    background-color: blue;
}
.c3 {
    background-color: violet;
}
.c4 {
    background-color: red;
}
.c5 {
    background-color: gray;
}
.c6 {
    background-color: seagreen;
}
@media (min-width: 600px) {
    .c1 {
        width: 30%;
        order: 1;
    }
    .c2 {
        width: 35%;
        order: 2;
    }
    .c3 {
        width: 35%;
        order: 3;
    }
    .c4 {
        width: 50%;
        order: 4;
    }
    .c5 {
        width: 50%;
        order: 5;
    }
    .c6 {
        width: 100%;
        order: 6;
    }
    @media (min-width:800px) {/*como ya hay un orden en la parte arriba el oren se respeta*/
        .c1 {
            width: 50%;
        }
        .c2 {
            width: 50%;
        }
        .c3 {
            width: 50%;
        }
        .c4 {
            width: 50%;
        }
        .c5 {
            width: 50%;
        }
        .c6 {
            width: 50%;
        }
    }
    @media (min-width:1028px) {/*como ya hay un orden en la parte arriba el oren se respeta*/
        .c1 {
            width: 25%;
        }
        .c2 {
            width: 25%;
        }
        .c3 {
            width: 50%;
        }
        .c4 {
            width: 25%;
        }
        .c5 {
            width: 25%;
        }
        .c6 {
            width: 50%;
        }
    }

    
}