.block-element {
    background-color: brown;
    margin: 10px;
    padding: 20px;
}
.nav {
    background-color: cadetblue;
    text-align: center;
    padding: 20px;
    list-style: none;
}

.nav li{
    display: inline-block;
    font-size: 20px;
    margin: 5px 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border-color: black;
    border: solid 1px;
    
}