*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}
section {
    width: 80%;
    min-width: 320px;
    max-width: 400px;
    min-height: 100px;/*altura minima 500px, si se pasa de ahi se reajusta automaticamente*/
    background-color: gray;
    margin:  0 auto;
}